/* @layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

.tweet :global(.react-tweet-theme) {
  --tweet-body-font-size: 1.25rem;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: linear-gradient( to right, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82 );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: gradientAniMation 5s ease infinite;
  }

  @keyframes gradientAniMation {
    0%{
       background-position:0% 50%
    }
    50%{
       background-position:100% 50%
    }
    100%{
       background-position:0% 50%
    }
  }
